/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-book-icon {
  background-image: url(/web/themes/custom/spc/img/sprite/spc_sprite.png?v=3f7a6a);
  background-position: -906px -404px;
  width: 36px;
  height: 30px;
}
.icon-datasets-icon {
  background-image: url(/web/themes/custom/spc/img/sprite/spc_sprite.png?v=3f7a6a);
  background-position: -962px -404px;
  width: 28px;
  height: 30px;
}
.icon-document-icon {
  background-image: url(/web/themes/custom/spc/img/sprite/spc_sprite.png?v=3f7a6a);
  background-position: -846px -454px;
  width: 24px;
  height: 31px;
}
.icon-member-country-bg-left {
  background-image: url(/web/themes/custom/spc/img/sprite/spc_sprite.png?v=3f7a6a);
  background-position: 0px 0px;
  width: 826px;
  height: 952px;
}
.icon-stories-icon {
  background-image: url(/web/themes/custom/spc/img/sprite/spc_sprite.png?v=3f7a6a);
  background-position: -846px -404px;
  width: 40px;
  height: 30px;
}
.icon-stories_slides_bg {
  background-image: url(/web/themes/custom/spc/img/sprite/spc_sprite.png?v=3f7a6a);
  background-position: -846px 0px;
  width: 628px;
  height: 384px;
}
