<div class="clearfix">
  <div class="content">
    <div style="background-image: url('/sites/default/files/styles/dashboard_banner/public/all_stories_bg_0.png');" class="banner-with-title">
      <div class="ed-lable">
        <span><b>{{ 'Pacific'|t }}</b>&nbsp;{{ 'education'|t }}</span>
      </div>
      <div class="">
        <h1 class="ed-heading">{{ 'The status of education</br>in the'|t }}&nbsp;<strong>{{ 'Pacific region'|t }}</strong></h1>
      </div>
      <div id="spc-home-banner-search">
        <form action="/" method="post" id="ckan-search-form" accept-charset="UTF-8">
          <div>
            <input placeholder="Search" aria-label="Search" type="text" id="education-dashboard-search" name="term" value="" size="30" maxlength="128" required="">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
