main {
    max-width: 1270px;
    padding: 30px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    
    @media(max-width: 767px){
        padding: 10px;
    }

    h2 {
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
    }
    h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }
    .contextual-region {
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }
    }
}
#block-spcmainbanner {
    position: relative;

    .breadcrumbs {
      align-self: flex-start;
      margin: 0px 20px 10px;
    }

    .breadcrumb {
      color: white;
      padding-left: 12px;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;

      @media(max-width: 900px){
          margin-bottom: 0;
          padding: 8px 0;
      }

      @media(max-width: 767px){
            display: none;
        }

      &> div {
        float: left;
        margin: 0px 5px;
      }
      .delimiter {
        margin-top: 20px;
        @media(max-width: 1000px){
              margin: 0;
          }
      }
      .dropdown {
        min-width: 265px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 30px;
        padding: 9px 20px;
        max-height: 50px;
        margin-top: 5px;
        @media(max-width: 1000px){
            padding: 0 15px;
            min-width: auto;
            max-height: 30px;
        }

        &> a {
          @media(max-width: 1000px){
              font-size: 12px;
          }        
        }
        .breadcrumb-subitems {
          display: none;
          position: absolute;
          min-width: 265px;
          background: #FFFFFF;
          color: #383838;
          max-height: 200px;
          overflow: hidden;
          left: -1px;
          right: -1px;
          padding: 10px 15px 10px 20px;
          border-radius: 0px 0px 30px 30px;
          z-index: 12;
          margin-top: -1px;
          @media(max-width: 1000px){
              min-width: auto;
          }
        }
        &:hover {
          .breadcrumb-subitems {
            display: block;
            .subitems-wrapper {
              overflow: auto;
              max-height: 189px;
            }
            a {
              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
              color: #383838;
              width: 100%;
              display: block;
              line-height: 16px;
              padding: 7px 0px;
            }
          }
          &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
            right: 15px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
          }
          a {
            color: #CACACA;
          }
          background: #FFFFFF;
          border-radius: 30px 30px 0px 0px;
        }
      }
      a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 30px;
        color: #FFFFFF;
        &:hover {
          text-decoration: underline;
          color: #FFFFFF;
        }
      }
      &> div.first {
        margin-left: 0px;
        margin-top: 15px;
      }
    }    

    .region-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .bean-home-banner {
            width: 100%;
        }
    }
    h1 {
        font-size: 54px;
        font-weight: 100;
        line-height: 1;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        
        @media(max-width: 767px){
            font-size: 30px;
        }
        
        strong {
            color: @spc-accent-color;
            font-weight: 700;
        }
    }
    .field-type-image {
        background: #fff;
        max-width: 100%;
        overflow: hidden;
        clear: both;
        text-align: center;
    }
    .banner-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 520px;
        background-attachment: fixed;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(135deg, rgba(0,198,236,0.85) 0%, rgba(0,3,102,0.95) 80%), url(../img/rsz_home_bg_1_0.jpg);  
    }
    .banner-title {
        color:  #fff;
        text-align: center;
        h2 {
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 44px;
            text-transform: uppercase; 
            
            @media(max-width: 767px){
                font-size: 24px;
            }
        }
        p {
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 12px;
            opacity: 0.75;
        }
    }
    .spc-home-banner-block {
        font-family: 'Roboto';
        width: 100%;
        padding: 0 15px;
        margin-top: 40px;
        .search {
            margin-top: 60px;
            #ckan-search-form {
                position: relative;
                width: 494px;
                text-align: left;
                margin: 0 auto;
                
                @media(max-width: 767px){
                    width: 100%;
                } 
                
                input {
                    height: 40px;
                    width: 100%;
                    border-radius: 20px;
                    border: 2px solid #fff;
                    padding: 0 28px;
                    transition: border-color .2s;
                    color: #000;
                }                

            }

        }
    }
}

.block-region-top {
    clear: both;
    float: none;
    display: table;
}

.dashboards {
    main {
        max-width: 100%;
        padding: 20px 0;
        
        article {
            float: none !important;
        }
        
        div[data-drupal-messages] {
            max-width: 1270px;
            margin: 0 auto;         
            float: none;
            clear: both;
            
            @media(max-width: 1300px){
                margin: 10px;
            }
        }
        #block-spc-local-tasks,
        #block-spc-page-title, {
            max-width: 1270px;
            margin: 0 auto;
            margin-bottom: 20px;          
            float: none;
            clear: both;
            display: table;
            
            @media(max-width: 1300px){
                padding: 10px;
            }            

        }
        .body-notes,
        .dashboard-bottom,
        .block-reference-block>div:first-of-type{
            max-width: 1270px;
            margin: 0 auto;
            display: block;
            float: none;
            clear: both;
            
            @media(max-width: 1300px){
                padding: 10px;
            }            
        }
        .block-reference-block>div:nth-of-type(2n) {
            max-width: 1270px;
            margin: 0 auto;
            display: block;
            float: none;
            clear: both;
            margin-bottom: 50px;
            
            @media(max-width: 1300px){
                padding: 10px;
            }            
        }
        .block-reference-block>div:last-of-type {
            max-width: 100%;            
        }        
    }
}

.highcharts-root .highcharts-data-labels {
    opacity: 0.1;
    transition: opacity 250ms;
}
.highcharts-root:hover .highcharts-data-labels {
    opacity: 0.9;
}

#sdgChart svg {
  font-family: sans-serif;
}

#sdgChart .domain-text {
  text-transform: uppercase;
  letter-spacing: 2px; 
}

#sdgChart .bar-label {
  font-size: 8px;
}

.tooltip.chart-tooltip {
  position: absolute;
  height: auto;
  width: 400px;
  font-size: 12px;
  color: #393f45;
  padding: 5px 7px;
  background: #dbedfb;
  border-radius: 6px;
  pointer-events: none; 
}
.tooltip.chart-tooltip.goals-t {
  width: auto;
  color: #fff;
  background: #393f45;
}
.chart-help-text {
    max-width: 790px;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    padding: 0 15px;
    padding-bottom: 45px;
    font-family: inherit;
}
.select2-dropdown--below {
    margin-top: 5px;
    border-radius: 18px;
    padding: 10px;
    border-top: 1px solid #b5b5b5 !important;
    border-top-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
}
.select2-dropdown--above {
    top: -5px;
    border-radius: 18px;
    padding: 10px;
    border-bottom: 1px solid #b5b5b5;
}

.chart-container{
    background: url(../img/insights_hp_bg.png) no-repeat 50% 50%, linear-gradient(3deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 45px;
    
    &:before {
        content: ' ';
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        background-color: #FFC72E;
        border-top: 4px solid #FFC72E;
        border-right: 5px solid #F9F9F9;
        border-left: 5px solid #F9F9F9;
    }

    .chart-select {
        max-width: 304px;
        margin: 0 auto 56px auto;

        .select2-selection--single {
            max-width: 304px;
            height: auto;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            border: 1px solid #b5b5b5;
            background-color: #ffffff;
            font-size: 13px;
            font-weight: 400;
            padding: 8px 16px;
        }
        
        .select2-container .select2-selection {
            max-width: 304px;
            height: auto;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            border: 1px solid #b5b5b5;
            background-color: #ffffff;
            font-size: 13px;
            font-weight: 400;
            padding: 13px 21px;
        }        
        .select2-container .select2-selection:after {
            content: '';
            display: block;
            position: absolute;
            top: 15px;
            right: 20px;
            border: solid #000;
            border-width: 0 1px 1px 0;
            padding: 4px;
            transform: rotate(45deg);
        }
        .select2-container .select2-selection .select2-selection__rendered {
            line-height: 16px;
            padding: 0px;
            text-align: left;
        }
        .select2-container .select2-selection .select2-selection__arrow {
            display: none;
        }        
        .select2-container.select2-container--open .select2-selection:after {
          top: 20px;
          transform: rotate(-135deg);
        }        
    }
}

