.spc-landing {
  main {
    max-width: 100%;
    padding: 0;
    #spc-home {
        font-family: 'Roboto';    
    }      
  } 
  .select2-results__option {
      padding: 5px 0;
      border-bottom: 1px dashed #D3D3D3;
  }
  .select2-container--default .select2-results__option[aria-selected=true],
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
      background-color: #fff;
      color: #007AD8;
  }  
}
    
#homepage-stats-block {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
    
    .homepage-stat-item {
        display: inline-block;
        padding: 0 65px;
        position: relative;
        
        .tooltip {
            position: absolute;
            opacity: 0;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            font-size: 10px;
            color: #6f6f6f;
            text-align: left;
            bottom: 70px;
            left: 0;
            right: 0;
            z-index: 0;
        }        
        
        &:hover, & a:hover {
            text-decoration: none;
            
            .tooltip {
                opacity: 1;
            }
        }
        &:first-child {
            border-right: 1px solid #ededed;
            padding-left: 0;
        }
        &:nth-child(2) {
            border-right: 1px solid #ededed;
        }        
        &:last-child {
            padding-right: 0;
        }
        .homepage-stat-info {
            display: inline-block;
            color: #000;
            margin-left: 45px;
            .homepage-stat-count {
                font-size: 36px;
                line-height: 36px;
                font-weight: 500;
                
            }
            .homepage-stat-type {
                font-size: 12px;
                text-align: left;
                margin-top: 5px;
            }
        }
        .homepage-stat-icon {
            height: 30px;
            position: absolute;
            top: 5px;
        }
    }
}

@media (max-width: 767px) {
    #homepage-stats-block {
        margin-bottom: 40px;
        margin-top: 40px;
        .homepage-stat-item {
            padding: 0 5%;
            .homepage-stat-info {
                margin: 0;
                .homepage-stat-count {
                    font-size: 24px;
                    line-height: 24px;
                }
            }
            .homepage-stat-icon {
                display: none;
            }
        }
    }
}

#member-countries-block {
    background: #f7f8f8;
    padding: 120px 0 205px 0;
    .block-content {
        max-width: 1013px;
        height: 437px;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .column {
            margin-right: 8px;
            height: 100%;
            .throbber {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: #000;
                opacity: 0.5;
                text-align: center;
                color: #fff;
                .fa-spin {
                    width: 10%;
                    height: 100%;
                }
            }
            &:last-child {
                margin-right: 0px;
            }
            .column-inner {
                display: flex;
                flex-direction: column;
                height: 100%;
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                & > div {
                    width: 100%;
                }
                #members-countries-map{
                  height: 100%;
                }
            }
        }
        .left-column {
            width: 375px;
            height: 100%;
            background-image: url(../img/sprite/spc_sprite.png);
            background-position: -200px -250px;
            background-size: auto;
            padding: 57px 30px 28px 30px;
            position: relative;
            flex: 0 0 auto;
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(181deg, rgba(0, 0, 0, 0) 0%, #000 100%);
                .border-left-radius(25px);
            }
            .column-header {
                z-index: 2;
                h2 {
                    color: #fff;
                    text-align: left;
                    font-size: 38px;
                    font-weight: 700;
                    margin: 0px 0px 14px 0px;
                }
                p {
                    margin: 0 0 18px 0;
                    opacity: 0.85;
                }
            }
            .column-footer {
                margin-top: auto;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .datasets-count {
                    position: relative;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: left;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    .datasets-icon {
                        display: block;
                        width: 23px;
                        height: 30px;
                        background: url(../img/document-icon.png) 50% 50% no-repeat;
                        background-size: cover;
                        margin-right: 10px;
                    }
                    .count {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .amount {
                            font-size: 25px;
                            font-weight: 600;
                            line-height: 1em;
                        }
                    }
                }
                .datasets-link {
                    a {
                        display: none;
                    }
                    .arrow-right-icon {
                        display: block;
                        width: 17px;
                        height: 12px;
                        background: url(../img/spc_new/right-arrow-icon.png) 50% 50% no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
        .right-column {
            flex: 1 1 auto;
            border-radius: 0 25px 25px 0;
            background-color: #00c6ec;
            padding: 11px;
            .gmap > div {
                background: unset !important;
                .zoom__controls {
                    width: 32px;
                    height: 74px;
                    margin: 24px 24px 0 0;
                    .controls--zoom-out,
                    .controls--zoom-in {
                        background-color: white;
                        width: 30px;
                        height: 30px;
                        border: 1px solid white;
                        border-radius: 50%;
                        cursor: pointer;
                        color: #000;
                        font-size: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .controls--zoom-in {
                        margin-bottom: 10px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .dropdown {
        width: 100%;
        max-width: 263px;
        
        .select2-container {
          width: 100% !important;

          .select2-selection {
            padding: 4px 8px;
            border: none;
            width: 100%;
            height: 35px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            border-radius: 18px;
            
            .select2-selection__arrow {
              height: 35px;
              right: 8px;
            }
          }
        }
    }
    @media (max-width: 767px) {
        & {
            padding: 0;
            background: unset;
            .block-content {
                align-items: flex-start;
                flex-direction: column;
                height: auto;
                .column {
                    width: 100%;
                    
                }
                .left-column {
                    background-size: 305%;
                    padding: 34px 30px 20px 30px;
                    height: 250px;
                    margin: 0px;
                    .column-header {
                        h2 {
                            font-size: 25px;
                            margin-bottom: 22px;
                        }
                        p {
                            display: none;
                        }
                    }
                    .column-footer {
                        justify-content: flex-start;
                        .datasets-link {
                            margin-left: 15px;
                        }
                    }
                    &:before {
                        border-bottom-left-radius: 0;
                    }
                }
                .right-column {
                    height: 436px;
                    width: 100%;
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                }
            }
        }
    }
}

#ckan-dataset-tabs-block {
    background-color: #F9F9F9;
    &:before {
        content: '';
        width: 150px;
        background-color: #FFC72E;
        display: block;
        margin: 0 auto;
        border-top: 4px solid #FFC72E;
        border-right: 5px solid #F9F9F9;
        border-left: 5px solid #F9F9F9;
    }
    .ckan-dataset-tabs-content {
        padding: 70px 0;
        .ckan-dataset-tabs-heading {
            text-align: center;
            h2 {
                font-weight: 700;
                font-size: 36px;
                color: #000;
                margin-bottom: 10px;
            }
            .ckan-dataset-tabs-intro {
                font-size: 12px;
                margin-bottom: 18px;
            }
            .ckan-dataset-tabs-section {
                margin-bottom: 60px;
                .nav{
                  padding: 0;
                }
                .ckan-dataset-tabs-tab {
                    display: inline-block;
                    &.active a, & a:hover {
                        background: @spc-buttons-color;
                        color: #fff;
                        border-radius: 20px;
                        text-decoration: none;
                    }
                    a {
                        padding: 8px 22px;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: #000
                    }
                }
            }
        }
        .ckan-dataset-tabs-items {
            .ckan-dataset-tabs-item {
                display: none;
                
                &.active {
                  display: block;
                }
                .ckan-dataset-tab-container {
                    margin-bottom: 10px;
                    .list-of-items {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                    .carusel-of-items {
                        display: none;
                        .tab-data {
                            margin: 0 10px;
                            margin-bottom: 25px;
                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
                .tab-data {
                    color: #000;
                    width: 32%;
                    padding: 15px;
                    background-color: #fff;
                    border-radius: 15px;
                    margin-bottom: 25px;
                    box-shadow: 0px 0px 5px 2px rgb(235, 235, 235);
                    .dataset-org {
                        margin-bottom: 20px;
                        .media-object {
                            max-height: 70px;
                            max-width: 100%;
                        }
                    }
                    .dataset-title {
                        margin-bottom: 10px;
                        a {
                            color: #000;
                            font-size: 13px;
                            font-weight: 600;
                            &:hover {
                                color: @spc-buttons-color;
                                text-decoration: none;
                            }
                        }
                    }
                    .dataset-date {
                        font-size: 13px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        .dataset-date-green {
                            color: #197B60;
                        }
                    }
                    .dataset-formats {
                        font-size: 13px;
                        font-weight: 500;
                        margin: 10px 0;
                        a {
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    .res-formats {
                        display: inline-block;
                        position: relative;
                        top: 14px;
                    }
                    .dataset-date > span, .dataset-formats > span {
                        margin-right: 30px;
                    }
                }
            }
        }
        .ckan-dataset-tabs-view-all {
            text-align: center;
            a {
                color: @spc-buttons-color;
                font-size: 15px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #ckan-dataset-tabs-block {
        .ckan-dataset-tabs-content {
            .ckan-dataset-tabs-heading {
                .ckan-dataset-tabs-section {
                    margin-bottom: 30px;
                }
            }
            .ckan-dataset-tabs-items {
                .ckan-dataset-tabs-item {
                    .ckan-dataset-tab-container {
                        .list-of-items {
                            display: none;
                        }
                        .carusel-of-items {
                            display: block;
                        }
                        .tab-data {
                            .dataset-date > span, .dataset-formats > span {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}    