<div class="chart-container" aria-hidden="true">
	<div class="container" id="chart">
	    <h2>{{ data.title }}</h2>
	    <div class="chart-select">
{#	    	<select id="sdgChartCountries"></select>#}
	    </div>
	    <div id="sdgChart"></div>
	</div>
</div>